<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Finch Collector{% endblock %}</title>
    <!-- Include Bootstrap CSS from a CDN or your local installation -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">Finch Collector</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="{% url 'about' %}" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'index' %}" class="nav-link btn btn-primary"
                >See All Finches</a
              >
            </li>
            <li><a href="{% url 'finches_create' %}">Add a Finch</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="d-flex flex-column min-vh-100">
      <!-- Flex container for main content and footer -->
      <main
        class="container d-flex flex-column align-items-center justify-content-center flex-grow-1"
      >
        {% block content %}{% endblock %}
      </main>

      <footer class="bg-light text-center py-3">
        <div class="container">
          <p class="m-0">All Rights Reserved, &copy; 2024 Finch Collector</p>
        </div>
      </footer>
    </div>
    <!-- Include Bootstrap JS and any other necessary scripts here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
  </body>
</html>
